02-workflow-orchestration/homework/source_code/kestra/course_de.ingest_nyc_taxi_trip_data.yaml
id: ingest_nyc_taxi_trip_data
namespace: course_de
description: |
  This task for ingestion data taxi trips New York City from https://github.com/DataTalksClub/nyc-tlc-data/releases

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: "{{ 'jdbc:postgresql://' ~ secret('DB_HOST_DWH') ~ ':' ~ secret('DB_PORT_DWH') ~ '/' ~ secret('DB_NAME_DWH') }}"
      username: "{{ secret('DB_USER_DWH') }}"
      password: "{{ secret('DB_PASS_DWH') }}"

tasks:
  - id: taxi_type
    type: io.kestra.plugin.core.flow.ForEach
    values: ["yellow", "green"]
    tasks: 
      - id: date
        type: io.kestra.plugin.core.flow.ForEach
        values: ["01", "02", "03", "04", "05", "06", "07"]    
        tasks:
          - id: set_label
            type: io.kestra.plugin.core.execution.Labels
            labels:
              file: "{{parent.taskrun.value}}_tripdata_2021-{{taskrun.value}}.csv"

          - id: extract
            type: io.kestra.plugin.scripts.shell.Commands
            outputFiles:
              - "*.csv"
            taskRunner:
              type: io.kestra.plugin.core.runner.Process
            commands:
              - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{parent.taskrun.value}}/{{parent.taskrun.value}}_tripdata_2021-{{taskrun.value}}.csv.gz | gunzip > {{parent.taskrun.value}}_tripdata_2021-{{taskrun.value}}.csv

          - id: if_yellow_taxi
            type: io.kestra.plugin.core.flow.If
            condition: "{{parent.taskrun.value == 'yellow'}}"
            then:
              - id: create_table_yellow_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  CREATE TABLE IF NOT EXISTS nyc_taxi.{{parents[1].taskrun.value}}_tripdata (
                    unique_row_id          text,
                    filename               text,
                    VendorID               text,
                    tpep_pickup_datetime   timestamp,
                    tpep_dropoff_datetime  timestamp,
                    passenger_count        integer,
                    trip_distance          double precision,
                    RatecodeID             text,
                    store_and_fwd_flag     text,
                    PULocationID           text,
                    DOLocationID           text,
                    payment_type           integer,
                    fare_amount            double precision,
                    extra                  double precision,
                    mta_tax                double precision,
                    tip_amount             double precision,
                    tolls_amount           double precision,
                    improvement_surcharge  double precision,
                    total_amount           double precision,
                    congestion_surcharge   double precision
                  );

              - id: create_staging_table_yellow_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  CREATE TABLE IF NOT EXISTS stag.{{parents[1].taskrun.value}}_tripdata (
                      unique_row_id          text,
                      filename               text,
                      VendorID               text,
                      tpep_pickup_datetime   timestamp,
                      tpep_dropoff_datetime  timestamp,
                      passenger_count        integer,
                      trip_distance          double precision,
                      RatecodeID             text,
                      store_and_fwd_flag     text,
                      PULocationID           text,
                      DOLocationID           text,
                      payment_type           integer,
                      fare_amount            double precision,
                      extra                  double precision,
                      mta_tax                double precision,
                      tip_amount             double precision,
                      tolls_amount           double precision,
                      improvement_surcharge  double precision,
                      total_amount           double precision,
                      congestion_surcharge   double precision
                  );

              - id: truncate_table_staging_yellow_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  TRUNCATE TABLE stag.{{parents[1].taskrun.value}}_tripdata;

              - id: copy_in_to_staging_table_yellow_taxi
                type: io.kestra.plugin.jdbc.postgresql.CopyIn
                format: CSV
                from: "{{outputs.extract[parents[1].taskrun.value][parents[0].taskrun.value].outputFiles[parents[1].taskrun.value ~ '_tripdata_2021-' ~ parents[0].taskrun.value ~ '.csv']}}"
                table: "stag.{{parents[1].taskrun.value}}_tripdata"
                header: true
                columns: [VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge]

              - id: add_unique_id_and_filename_yellow_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  UPDATE stag.{{parents[1].taskrun.value}}_tripdata
                  SET 
                    unique_row_id = md5(
                      COALESCE(CAST(VendorID AS text), '') ||
                      COALESCE(CAST(tpep_pickup_datetime AS text), '') || 
                      COALESCE(CAST(tpep_dropoff_datetime AS text), '') || 
                      COALESCE(PULocationID, '') || 
                      COALESCE(DOLocationID, '') || 
                      COALESCE(CAST(fare_amount AS text), '') || 
                      COALESCE(CAST(trip_distance AS text), '')      
                    ),
                    filename = '{{parents[1].taskrun.value}}_tripdata_2021-{{parents[0].taskrun.value}}.csv';

              - id: merge_data_yellow_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  MERGE INTO nyc_taxi.{{parents[1].taskrun.value}}_tripdata AS T
                  USING stag.{{parents[1].taskrun.value}}_tripdata AS S
                  ON T.unique_row_id = S.unique_row_id
                  WHEN NOT MATCHED THEN
                    INSERT (
                      unique_row_id, filename, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime,
                      passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID,
                      DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount,
                      improvement_surcharge, total_amount, congestion_surcharge
                    )
                    VALUES (
                      S.unique_row_id, S.filename, S.VendorID, S.tpep_pickup_datetime, S.tpep_dropoff_datetime,
                      S.passenger_count, S.trip_distance, S.RatecodeID, S.store_and_fwd_flag, S.PULocationID,
                      S.DOLocationID, S.payment_type, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount,
                      S.improvement_surcharge, S.total_amount, S.congestion_surcharge
                    );

            else:
              - id: create_table_green_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  CREATE TABLE IF NOT EXISTS nyc_taxi.{{parents[1].taskrun.value}}_tripdata (
                      unique_row_id          text,
                      filename               text,
                      VendorID               text,
                      lpep_pickup_datetime   timestamp,
                      lpep_dropoff_datetime  timestamp,
                      store_and_fwd_flag     text,
                      RatecodeID             text,
                      PULocationID           text,
                      DOLocationID           text,
                      passenger_count        integer,
                      trip_distance          double precision,
                      fare_amount            double precision,
                      extra                  double precision,
                      mta_tax                double precision,
                      tip_amount             double precision,
                      tolls_amount           double precision,
                      ehail_fee              double precision,
                      improvement_surcharge  double precision,
                      total_amount           double precision,
                      payment_type           integer,
                      trip_type              integer,
                      congestion_surcharge   double precision
                  );

              - id: create_staging_table_green_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  CREATE TABLE IF NOT EXISTS stag.{{parents[1].taskrun.value}}_tripdata (
                      unique_row_id          text,
                      filename               text,
                      VendorID               text,
                      lpep_pickup_datetime   timestamp,
                      lpep_dropoff_datetime  timestamp,
                      store_and_fwd_flag     text,
                      RatecodeID             text,
                      PULocationID           text,
                      DOLocationID           text,
                      passenger_count        integer,
                      trip_distance          double precision,
                      fare_amount            double precision,
                      extra                  double precision,
                      mta_tax                double precision,
                      tip_amount             double precision,
                      tolls_amount           double precision,
                      ehail_fee              double precision,
                      improvement_surcharge  double precision,
                      total_amount           double precision,
                      payment_type           integer,
                      trip_type              integer,
                      congestion_surcharge   double precision
                  );

              - id: truncate_table_staging_green_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  TRUNCATE TABLE stag.{{parents[1].taskrun.value}}_tripdata;

              - id: copy_in_to_staging_table_green_taxi
                type: io.kestra.plugin.jdbc.postgresql.CopyIn
                format: CSV
                from: "{{outputs.extract[parents[1].taskrun.value][parents[0].taskrun.value].outputFiles[parents[1].taskrun.value ~ '_tripdata_2021-' ~ parents[0].taskrun.value ~ '.csv']}}"
                table: "stag.{{parents[1].taskrun.value}}_tripdata"
                header: true
                columns: [VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge]

              - id: add_unique_id_and_filename_green_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  UPDATE stag.{{parents[1].taskrun.value}}_tripdata
                  SET 
                    unique_row_id = md5(
                    COALESCE(CAST(VendorID AS text), '') ||
                    COALESCE(CAST(lpep_pickup_datetime AS text), '') || 
                    COALESCE(CAST(lpep_dropoff_datetime AS text), '') || 
                    COALESCE(PULocationID, '') || 
                    COALESCE(DOLocationID, '') || 
                    COALESCE(CAST(fare_amount AS text), '') || 
                    COALESCE(CAST(trip_distance AS text), '')      
                   ),
                   filename = '{{parents[1].taskrun.value}}_tripdata_2021-{{parents[0].taskrun.value}}.csv';

              - id: merge_data_green_taxi
                type: io.kestra.plugin.jdbc.postgresql.Queries
                sql: |
                  MERGE INTO nyc_taxi.{{parents[1].taskrun.value}}_tripdata AS T
                  USING stag.{{parents[1].taskrun.value}}_tripdata AS S
                  ON T.unique_row_id = S.unique_row_id
                  WHEN NOT MATCHED THEN
                    INSERT (
                      unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime,
                      store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count,
                      trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee,
                      improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge
                    )
                    VALUES (
                      S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime,
                      S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count,
                      S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee,
                      S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge
                    );

          - id: purge_files
            type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
            description: This will remove output files. If you'd like to explore Kestra outputs, disable it.

